.navbar__container {
    display: flex;
    justify-content: center;
    vertical-align: center;
    flex-grow: 1;
    background: var(--secondary);
}

.navbar__logo--container {
    width: 10vw;
    height: auto;
}

.navbar__logo--container svg {

}

.navbar__links--container {
    display: flex;
    vertical-align: center;
    justify-content: center;
}