.hero__container {
    display: flex;
    justify-content: center;
    vertical-align: center;
    background-image: var(--gradient-dark-blue);
}

.hero__subcontainer {
    padding-top: 6vw;
    padding-bottom: 6vw;
    text-align: center;
}

.hero__header {
    font-size: 6vw;
    color: var(--background);
    font-weight: 900;
    margin-bottom: 2vw;
}

.hero__subheader {
    font-size: 5vw;
    background: var(--gradient-purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 400;
    margin-bottom: 1vw;
}

.hero__paragraph {
    color: var(--secondary-accent);
    font-size: 2vw;
    font-weight: 200;
    line-height: 3vw;
    width: 70%;
    margin: auto;
}

.hero__paragraph span {
    background: var(--gradient-purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
}

.hero__button--container {
    display: flex;
    gap: 1vw;
    margin-top: 2vw;
    justify-content: center;
}

.hero__button {
    font-size: 1.5vw;
    font-weight: 400;
}