.hero__container {
    display: flex;
    justify-content: center;
    vertical-align: center;
    background-image: var(--gradient-dark-blue);
}

.hero__subcontainer {
    width: 50%;
    padding-top: 6vw;
    padding-bottom: 6vw;
    overflow: hidden;
}

.hero__header {
    font-size: 3vw;
    color: var(--secondary-accent);
    font-weight: 400;
    padding-top: 1vw;
    margin-left: 6vw;
}

.hero__subheader {
    font-size: 5vw;
    background: var(--gradient-purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
    margin-left: 6vw;
}

.hero__paragraph {
    color: var(--secondary-accent);
    font-size: 1.75vw;
    padding-top: 1vw;
    font-weight: 200;
    line-height: 2.5vw;
    width: 80%;
    margin-left: 6vw;
}

.hero__paragraph span {
    background: var(--gradient-purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 800;
}

.hero__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transform: scale(2.5);
}

.hero__button--container {
    display: flex;
    gap: 1vw;
    margin-top: 1vw;
    justify-content: flex-start;
    margin-left: 6vw;
}

.hero__button {
    font-size: 1.5vw;
    font-weight: 400;
}