@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --font-family: inter, acumin-pro, sans-serif;

  --text: #000d13;
  --background: #E2F3FF;
  --darker-background: #000f17;
  --primary: #5D9BC6;
  --accent: #788696;
  --secondary: #003356;
  --secondary-accent: #b2cded;
  --tertiary: #7961d0;
  --tertiary-accent: #36276e;
  --quaternary: #006265;
  --quaternary-accent: #66b2b5;
  --black: #000517;

  --gradient-purple: linear-gradient(to right, var(--tertiary), var(--primary));
  --gradient-dark-blue: linear-gradient(to right, #000f17, #003356);
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

html {
  background: var(--background);
}

body {
  overflow-x: hidden;
}

a {
  color: var(--accent);
  cursor: pointer;
  transition: .5s ease-in-out;
}

a:hover {
  color: var(--text);
}

button {
  font-weight: 500;
  cursor: pointer;
  border-radius: .25vw;
  padding: .5vw;
  transition: .5s ease-in-out;
}

.button__primary {
  border: .15vw solid var(--primary);
  color: var(--primary);
  background: transparent;
}

.button__primary:hover {
  box-shadow: .1vw .1vw 1vw var(--primary);
}

.button__secondary {
  color: var(--background);
  background: var(--secondary);
  border: .15vw solid var(--secondary);
}

.button__secondary:hover {
  box-shadow: .1vw .1vw 1vw var(--secondary);
}

.button__tertiary {
  color: var(--text);
  background: var(--tertiary);
  border: .15vw solid var(--tertiary);
}

.button__tertiary:hover {
  box-shadow: .1vw .1vw 1vw var(--tertiary);
}

.button__quaternary {
  color: var(--text);
  background: var(--secondary-accent);
  border: .15vw solid var(--secondary-accent);
}

.button__quaternary:hover {
  color: var(--quaternary);
  box-shadow: .1vw .1vw 1vw var(--quaternary-accent);
}

.button__quinary {
  background: linear-gradient(to right, var(--tertiary), var(--primary));
  border: .15vw solid linear-gradient(to right, var(--tertiary), var(--primary));
  color: var(--text);
}

.button__quinary:hover {
  box-shadow: .1vw .1vw 1vw var(--tertiary);
}