.footer__container {
    background: var(--background);
    border-top: .25vw solid var(--primary);
}

.footer__subcontainer {
    text-align: center;
    margin-top: 3vw;
    margin-left: auto;
    margin-bottom: 3vw;
    margin-right: auto;
}

.footer__container--logo {
    width: 10%;
    margin: auto;
}

.footer__container--main {
    display: flex;
    justify-content: center;
    vertical-align: center;
    gap: 6vw;
    margin-bottom: 6vw;
}

.footer__container--creator {
    background: var(--gradient-dark-blue);
    border-top: .25vw solid var(--tertiary);
}